.dropdown:hover>.dropdown-menu {
    display: inline-block;
}

.nav1{
    width: 100%;
    z-index: 100;
    position: fixed;
}

.itemMar{
    margin-left: 20px;
    margin-right: 20px;
}

.MiniIcon{
    width: 20px;
    height: 20px;
}

.ImgCua{
    height: 150px;
    width: 150px;
    border: solid;
    border-radius: 12px;
    margin: 15px;
}

.ImgRec{
    padding-top: 5%;
    height: 180px;
    width: 80%;
}