.dropdown:hover>.dropdown-menu {
    display: inline-block;
}

.nav1{
    width: 100%;
    z-index: 100;
    position: fixed;
}

.itemMar{
    margin-left: 20px;
    margin-right: 20px;
}

.LibroPortada{
    width: 80px; 
    height: 130px;
}

.div_logout{
    width: 20rem;
    margin-left: 50rem;
    margin-top: 14rem;
}
.div_logout h2{
    margin: auto;
}
.div_logout_ button{
    margin: auto;
    width: 20rem;
    margin-left: 50rem;
    margin-top: 1rem;
    margin-bottom: 15rem;
}


.MiniIcon{
    width: 20px;
    height: 20px;
}

.InputPequeño{
    width: 70px;
    text-align: center;
}

.tdCentrado{
    vertical-align: middle;
    text-align: center;
}