
/* Header */

.dropdown:hover>.dropdown-menu {
  display: inline-block;
}

.nav1{
  width: 100%;
  z-index: 100;
  position: fixed;
}

.itemMar{
  margin-left: 20px;
  margin-right: 20px;
}

.BusBar{
  border: solid;
  border-color:cornflowerblue;
  border-radius: 5px;
  padding: 5px;
}

.slider_ img{
    height: 15rem;  
}
.slider_{
  margin: auto;
  width: 90rem;
}
.row_f{
  margin: auto;
  width: 80%;
}
.card{
  border-style: none;
  width: 18rem;
  height: 25rem;
  margin: auto !important;
}

.card a{
  margin: auto;
}
.card img{
  width: 8rem;
  height: 13rem;
  margin: auto;
  padding-top: 1rem;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease; 
}

.card img:hover{
  cursor: pointer;
  opacity: 0.7;
  transform : scale(0.5);
  -webkit-transform : scale(1.1); 
}

.card-title span:hover{
  cursor: pointer;
color: crimson;
}

.autor_nombre{
  text-decoration-line: underline;
}

.autor_nombre:hover{
  cursor: pointer;
  color: crimson;
}

