.card{
    width: 18rem;
}
.row_principal{
    border-style: solid;
    border-width:10%;
    height: 30rem;
    width: 50rem;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 10rem;
}
.row_principal .card{
    margin: auto;
}
.modal-body {
    overflow-x: auto;
  }
  .dialog_update {
    max-width: 50rem; 
  }

  .form_upd {
    margin: auto;
    width: 30rem;
  }
  .form_upd mb-3{
      margin: auto;
  }

  .sct_upd{
    margin: auto;
      width: 50rem;
      border-style: solid;
      border-radius: 5rem;
      margin-top: -8rem;
  }
.card img{
    margin: auto;
    width: 10rem;
    height: 10rem;
}

.row_btn_cerrar{
    width: 12rem;
    margin: auto;
    margin-top: 5rem;
}
.row_btn_cerrar div a{
    margin: auto;
}
.row_btn_add{
    width: 12rem;
    margin: auto;
    margin-top: 1rem;
}
.row_btn_add section div button{
    margin: auto;
}
.row_btn_upd{
    width: 15rem;
    margin: auto;
    margin-top: 1rem;
}
.row_btn_upd section div button{
    margin: auto;
}

.card-body div{
   width: 45%;
    margin: auto;
}
.card-body div button{
    margin: auto;
}

